<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<div th:if="${exist} == true">
    Destination point with this short name already exist.
</div>
<div th:if="${wrongLength} == true">
    Destination point should be 3 symbols long.
</div>
<div th:if="${success} == true">
    Destination point successfully added.
</div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form th:action="@{/dest-point/add}" method="post">
    <div><label> Destination point name : <input type="text" name="name"/> </label></div>
    <div><label> Short name: <input type="text" name="shortName"/> </label></div>
    <div><input type="submit" value="Add destination"/></div>
</form>
<br>
<form th:action="@{/route/add}" method="post">
    <div><label> Start destination name: <input type="text" name="dp1SN"/> </label></div>
    <div><label> Stop destination name: <input type="text" name="dp2SN"/> </label></div>
    <div><label> Distance: <input type="number" name="distance"/> </label></div>
    <div><label> Cost: <input type="number" name="cost"/> </label></div>
    <div><input type="submit" value="Add fly"/></div>
</form>
</body>
</html>
</body>
</html>